body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

input {
    padding: 8px;
    width: 200px;
    border-radius: 5px;

}

button {
    padding: 8px 12px;
    border-radius: 5px;
    
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px;
    font-size: 18px;
}

.done {
    color: gray;
}


a{
    background-color: rgb(188, 183, 183);
    text-decoration: none;
    color: inherit;
    padding: 5px;
    border-radius: 5px;
}

#konfetti {
    margin-top: 20%;
}